.log-box {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.card-header {
    cursor: pointer;
    position: relative;
}

.card-header .caret {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
