<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <a href="#main-content" class="visually-hidden-focusable p-3">Skip to main content</a>
    <main id="main-content" class="container" tabindex="-1" style="outline: none;">
        <a href="/"><h1>Meraki Pi-hole Sync</h1></a>
        <div class="log-container">
            {{ content|safe }}
        </div>
    </main>
</body>
</html>
